useDynLib(OSFD, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(dplyr,setdiff)
importFrom(lhs,randomLHS)
importFrom(twinning,twin)
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
export(OSFD)
export(IOSFD)
export(mMdist)
export(ball_unif)
export(spanfill)